[Unit]
Description=gfff fresh-editor buildbot pueue scheduler
Wants=pueued.service
After=pueued.service

[Service]
Type=simple
WorkingDirectory=%h/dev/fresh
ExecStart=%h/dev/gfff/wrsb.sh
Restart=on-failure
RestartSec=10
#Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
